<div class="sidebar">
  <div class="sidebar__brand">
    <img
      class="sidebar__logo"
      src="logo.svg"
      alt=""
    />

    <span class="sidebar__brand-name">3Shape</span>
  </div>

  <div class="sidebar__nav-container">
    <mat-nav-list>
      @for (item of menuItems(); track item.route) {
        <a
          mat-list-item
          [routerLink]="item.route"
          routerLinkActive
          [routerLinkActiveOptions]="{ exact: true }"
          #rla="routerLinkActive"
          [activated]="rla.isActive"
        >
          <mat-icon matListItemIcon>
            {{ item.icon }}
          </mat-icon>
          <span matListItemTitle>
            {{ item.title }}
          </span>
        </a>
      }
    </mat-nav-list>
  </div>
</div>
